p {
    word-wrap: break-word;
    word-break: break-all;
}

.nameBackground {
    position: absolute;
    z-index: 1;
    background-color: aqua;
    width: 5px;
    height: 25px;
    border-radius: 5px;
    border: 5px;
}

.name {
    color: #aaa;
    margin-left: 5px;
}

.time {
    color: #ccc;
    font-size: xx-small;
}

.commentBox {
    background-color: white;
    width: 1140px;
    margin: 0 auto;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
}

.avatar {
    position: absolute;
    margin-left: -90px;
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.userAvatar {
    position: absolute;
    margin-top: -20p;
    margin-left: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.ol {
    margin-left: 100px;
}

.emotion {
    height: 21px;
    width: 21px;
    margin-bottom: -5px;
}

.langInput {
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    outline-color: rgb(153, 153, 255);
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
    height: 100px;
}

.userInput {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #DCDFE6;
    outline-color: rgb(153, 153, 255);
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    height: 40px;
    width: 200px;
}

.userPlaceholder {
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(153, 153, 255);
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    height: 40px;
    margin-left: 100px;
    width: 50px;
}

.userQQInput {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #DCDFE6;
    outline-color: rgb(153, 153, 255);
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    height: 40px;
    width: 200px;
}

.userQQPlaceholder {
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(153, 153, 255);
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    height: 40px;
    width: 50px;
}

.getQQBtn {
    height: 40px;
    width: 80px;
    border: 2px solid rgb(153, 153, 255)!important;
    border-radius: 16px!important;
}

.publishBtn {
    margin-left: 1020px;
    height: 40px;
    width: 80px;
    border: 2px solid rgb(153, 153, 255)!important;
    border-radius: 16px!important;
}

.publishBtn:hover {
    background-color: rgb(153, 153, 255);
    color: white;
}

.getQQBtn:hover {
    background-color: rgb(153, 153, 255);
    color: white;
}

hr {
    margin-top: 20px;
    border-color: rgb(153, 153, 255);
}